@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prociono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* misc */
@import url('./misc/normalize.css');

/* partials */
@import url(./partials/footer.css);
@import url(./partials/header.css);

/* pages */
@import url(./pages/home.css);
@import url(./pages/ofertas.css);
@import url(./pages/registro.css);
@import url(./pages/faq.css);
@import url(./pages/about.css);
